/* Fonts */

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */

:root {
  --primary-black: #000000;
  --primary-white: #ffffff;
  --primary-red: #ee3643;
  --primary-green: #63a63e;

  --secondary-blue: #32425c;
  --secondary-gray: #a9a9a9;
  --secondary-red: #ca2c37;

  --primary-dark-blue: #293449;

  --special-red: #ba2732;
  --special-lightgray: #c5c5c5;
  --special-beige: #ffd180;
  --special-white: #f3f7f9;
  --special-lightwhite: #f1f5f7;
  --special-pink: #f9f5f0;
  --special-lightpink: #f7f3ec;
  --special-lightgreen: #5fbb2d;
  --special-green: #518534;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-black);
  background-color: var(--primary-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

.button {
  color: var(--primary-white);
  background-color: var(--primary-red);
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px;
  outline: none;
}

.button:hover {
  background-color: var(--secondary-red);
}

.button:active {
  background-color: var(--special-red);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.new::after {
  position: absolute;
  content: "NEW";
  top: 7px;
  right: -25px;
  width: 100px;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  vertical-align: middle;
  color: var(--primary-white);
  background-color: var(--primary-red);
  transform: rotate(45deg);
  /* transform-origin: top right; */
}

/* Grid */

.page-body {
  min-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.features {
  margin-top: 60px;
  margin-bottom: 60px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 123px);
  grid-gap: 20px;
}

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.goods,
.manufacturers,
.services,
.index-columns {
  margin-bottom: 70px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 145px 145px;
  grid-gap: 20px;
}

.services-header {
  max-width: 400px;
  margin-bottom: 70px;
}

.services-header .title {
  margin-bottom: 25px;
}

.services-content {
  margin: 0;
}

.services-columns {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 186px;
  column-gap: 80px;
}

.index-columns {
  display: grid;
  grid-template-columns: 460px 300px;
  column-gap: 180px;
}

.footer-submenu-columns {
  display: grid;
  grid-template-columns: 240px 150px 130px 120px 140px 50px 110px;
}

.footer-submenu-columns > * {
  margin-top: 35px;
  margin-bottom: 35px;
}

.main-footer-copyright {
  grid-column: 1 / 2;
}

.main-footer-socials {
  grid-column: 3 / 4;
}

.main-footer-feedback {
  grid-column: -3 / -4;
}

.main-footer-developed {
  grid-column: -1 / -2;
}

.catalog-container {
  display: grid;
  grid-template-areas:
  "filter sorting"
  "filter results";
  grid-template-columns: 220px 1fr;
  grid-template-rows: 38px 1fr;
  column-gap: 20px;
  row-gap: 28px;
}

.filter {
  grid-area: filter;
}

.sorting {
  grid-area: sorting;
}

.goods-catalog {
  grid-area: results;
}

.goods-list-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 18px;
  margin-bottom: 48px;
}

/* Header */

.main-header {
  background-color: var(--special-lightwhite);
  color: var(--primary-white);
}

.main-header-menu {
  background-color: var(--primary-dark-blue);
}

.main-header-menu .container {
  height: 42px;
  display: flex;
  justify-content: flex-start;
}

.main-header-logo {
  width: 220px;
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 0 0 #b52933;
}

.main-header-logo:active {
  background-color: var(--special-red);
  box-shadow: 0 5px 0 0 #8d1e26;
}

.main-header-logo img {
  width: 108px;
  height: 18px;
}

.main-header-search {
  display: flex;
  align-items: center;
  height: 100%;
  width: 270px;
}

.main-header-search:hover path {
  fill: var(--primary-white);
  opacity: 1;
}

.main-header-search:focus-within {
  background-color: var(--primary-white);
}

.main-header-search:focus-within path {
  fill: var(--primary-red);
  opacity: 1;
}

.main-header-search > svg {
  display: block;
  width: 17px;
  height: 17px;
  margin-left: 17px;
}

.main-header-search > * {
  height: 100%;
}

.main-header-search > input {
  color: var(--primary-white);
  flex-grow: 1;
  background-color: var(--primary-dark-blue);
  border: none;
  outline: none;
  margin-left: 17px;
}

.main-header-search > input::placeholder {
  color: var(--primary-white);
  opacity: 1;
}

.main-header-search > input:-ms-input-placeholder {
  color: var(--primary-white);
}

.main-header-search > input:focus {
  color: var(--primary-black);
  background-color: var(--primary-white);
}

.user-navigation {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-navigation > li {
  flex-grow: 1;
}

.user-navigation > li:last-child {
  flex-grow: 0;
}

.user-navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
  color: var(--primary-white);
}

.user-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
  background-color: #161d29;
}

.user-bookmark,
.user-cart{
  position: relative;
}

.user-bookmark::before,
.user-cart::before {
  content: "";
  position: absolute;
  top: 13px;
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-bookmark::before {
  left: 13px;
  width: 14px;
  height: 16px;
  background-image: url("/img/icons/bookmark.svg");
}

.user-cart::before {
  left: 16px;
  width: 15px;
  height: 15px;
  background-image: url("/img/icons/cart-small.svg");
}

.user-bookmark:hover::before,
.user-cart:hover::before {
  opacity: 1;
}

.user-bookmark:active::before,
.user-cart:active::before {
  opacity: 0.3;
}

.checkout {
  width: 150px;
  background-color: var(--primary-green);
}

.checkout:hover {
  background-color: var(--special-lightgreen);
}

.checkout a:active {
  color: #b1d29f;
  background-color: var(--primary-green);
}

.checkout > a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.cart-filled {
  background-color: var(--primary-red);
}

.cart-filled .user-cart:active {
  background-color: var(--special-red);
}

.main-header-submenu {
  display: grid;
  grid-template-columns: 320px 320px 300px;
  margin-top: 43px;
  margin-bottom: 40px;
}

.main-header-slogan {
  margin: 0;
  margin-left: 30px;
  color: var(--primary-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.main-header-contacts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0;
  margin-top: 3px;
}

.main-header-tel {
  position: relative;
  color: var(--primary-red);
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  padding: 5px 46px 5px 75px;
  margin-bottom: 4px;
  border-style: solid;
  border-color: var(--primary-white);
  border-width: 3px;
}

.main-header-tel::before {
  position: absolute;
  content: "";
  top: 10px;
  left: 37px;
  width: 18px;
  height: 19px;
  background-image: url("/img/icons/phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-header-address {
  color: var(--secondary-blue);
  font-size: 14px;
  margin-left: 10px;
}

.login-link {
  padding: 11px 25px 11px 17px;
  margin-left: 19px;
}

.login-link > svg {
  position: relative;
  top: 2px;
  width: 20px;
  height: 17px;
  margin-right: 6px;
}

.sign-up-link {
  padding: 11px 24px;
  margin-left: 10px;
}

.login-link,
.sign-up-link,
.user-name {
  display: inline-block;
  color: var(--primary-black);
  font-size: 21px;
  line-height: 21px;
  background-color: var(--primary-white);
}

.login-link:hover,
.sign-up-link:hover {
  color: var(--primary-red);
}

.login-link:hover path {
  fill: #3D546F;
}

.login-link:active path {
  fill: var(--special-lightgray);
}

.login-link:active,
.sign-up-link:active,
.user-name:active {
  color: var(--special-lightgray);
}

.user-name {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 12px 37px 12px 35px;
}

.user-name .user-icon {
  position: absolute;
  left: 15px;
  width: 20px;
  height: 18px;
}

.user-name .user-logout {
  position: absolute;
  right: 15px;
  width: 20px;
  height: 18px;
}

.user-name:hover .user-icon path,
.user-name:hover .user-logout path {
  fill: #3D546F;
}

.user-name:active .user-icon path,
.user-name:active .user-logout path {
  fill: var(--special-lightgray);
}

.user-menu {
  display: flex;
  padding-left: 45px;
  padding-right: 45px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.user-menu li {
  position: relative;
  margin-right: 30px;
}

.user-menu li:last-child {
  margin-right: 0;
}

.user-menu li::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -18px;
  width: 4px;
  height: 4px;
  background-color: var(--secondary-blue);
  border-radius: 50%;
}

.user-menu li:last-child::after {
  display: none;
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: var(--secondary-blue);
}

.user-menu a:hover {
  color: var(--primary-red);
}

.user-menu a:active {
  color: var(--special-lightgray);
}

.main-navigation {
  background-color: var(--secondary-blue);
  box-shadow: inset 0px -5px 0px var(--primary-dark-blue);
  margin-bottom: 60px;
}

.site-navigation {
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}

.site-navigation > li {
  flex-grow: 1;
}

.site-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--primary-white);
}

.site-navigation a:hover {
  background-color: var(--primary-dark-blue);
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* Features */

.features-list > article {
  position: relative;
  overflow: hidden;
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 23px;
  display: flex;
  justify-content: space-between;
}

.features-button:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.features-button:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.features-list h3 {
  margin: 0;
  margin-bottom: 16px;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.features-content {
  flex-grow: 1;
  padding-right: 18px;
}

.features-img {
  width: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-button {
  display: inline-block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.features-materials {
  background-color: #ffbf47;
}

.features-tools {
  background-color: #3bbce3;
}

.features-technics {
  background-color: #dc91d8;
}

.features-discount {
  background-color: #8ed78f;
}

.features-delivery {
  background-color: #ffc047;
}

.slider {
  display: grid;
  grid-template-columns: 24px 22px 170px 24px 1fr 198px 21px 21px;
  grid-template-rows: 122px 40px 1fr 38px 27px;
}

.prev-slide-button,
.next-slide-button {
  z-index: 1;
  padding: 0;
  background: none;
  border: none;
}

.prev-slide-button {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.next-slide-button {
  grid-column: -2 / -3;
  grid-row: 2 / 3;
}

.features-slider {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  color: var(--primary-white);
  background-color: #917e6d;
}

.features-slider-item {
  display: grid;
  height: 266px;
  grid-template-columns: 24px 1fr;
  grid-template-rows: 26px 26px 17px 14px 1fr;
}

.features-slider-title {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  z-index: 1;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.features-slider-subtitle {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  z-index: 1;
  margin: 0;
}

.slider-button {
  grid-column: 2 / 4;
  grid-row: 4 / 5;
}

.features-slider-img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.slider-controls {
  grid-column: 5 / 6;
  grid-row: 4 / 5;
  display: flex;
  justify-content: center;
  padding-top: 19px;
}

.slider-controls button {
  padding: 0;
  width: 10px;
  height: 10px;
  background-color: var(--primary-white);
  border: 2px solid var(--primary-white);
  border-radius: 50%;
  margin-right: 10px;
}

.slider-controls button:last-child {
  margin-right: 0;
}

.slider-controls button.current {
  background-color: var(--primary-red);
}

/* Goods */

.goods-header {
  background-color: var(--special-pink);
  margin-bottom: 20px;
  padding: 29px 14px 30px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-header .title {
  color: var(--secondary-blue);
}

.goods-header .button {
  padding: 10px 24px;
}

.goods-item {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 318px;
  padding-right: 18px;
  padding-bottom: 21px;
  padding-left: 18px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
}

.goods-item:hover {
  box-shadow: 0 5px 17px 0 rgba(0, 0, 0, 0.15);
}

.goods-item-title {
  margin-top: 5px;
  margin-bottom: 7px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.goods-item-controls {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 38px 42px 0 42px;
  height: 184px;
  background-color: var(--primary-white);
  display: none;
}

.goods-item-controls button {
  width: 100%;
}

.goods-item:hover .goods-item-controls {
  display: block;
}

.goods-item-img {
  order: -1;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-price {
  margin-top: auto;
}

.goods-list .old-price,
.goods-list-catalog .old-price {
  text-align: center;
  margin-bottom: 13px;
  color: var(--secondary-gray);
  text-decoration: line-through;
}

.goods-list .new-price,
.goods-list-catalog .new-price {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-white);
  background-color: var(--primary-red);
  height: 38px;
  padding-right: 30px;
  padding-left: 30px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.goods-list .new-price::after,
.goods-list-catalog .new-price::after {
  position: absolute;
  content: "";
  top: 0;
  right: -18.7px;
  border-style: solid;
  border-width: 19px 0 19px 19px;
  border-color: transparent transparent transparent var(--primary-red);
}

.button-buy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border: none;
}

.button-buy::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 15px;
  margin-right: 9px;
  background-image: url("/img/icons/cart-small.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.goods-list .button-buy,
.goods-list-catalog .button-buy {
  font-family: 'Cuprum';
  background-color: var(--primary-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.goods-list .button-buy:hover,
.goods-list-catalog .button-buy:hover {
  background-color: var(--special-lightgreen);
}

.goods-list .button-buy:active,
.goods-list-catalog .button-buy:active {
  background-color: var(--special-green);
}

.goods-list .button-bookmark,
.goods-list-catalog .button-bookmark {
  font-family: 'Cuprum';
  color: var(--secondary-blue);
  background-color: var(--primary-white);
  border: 3px solid var(--primary-green);
  border-radius: 2px;
}

.goods-list .button-bookmark:hover,
.goods-list-catalog .button-bookmark:hover {
  background-color: transparent;
  border-color: var(--secondary-blue);
}

.goods-list .button-bookmark:active,
.goods-list-catalog .button-bookmark:active {
  background-color: transparent;
  border-color: rgba(50, 66, 92, 0.5);
}

/* Manufacturers */

.manufacturers-header .title {
  color: var(--secondary-blue);
}

.manufacturers-header .button {
  padding: 10px 38px;
}

.manufacturers-header {
  background-color: var(--special-pink);
  margin-bottom: 20px;
  padding: 29px 14px 30px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manufacturers-list a:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers-list a:active {
  opacity: 0.5;
}

/* Services */

.services {
  background-color: var(--special-lightwhite);
  font-size: 13px;
}

.services .container {
  background-image: url("/img/delivery.png");
  background-repeat: no-repeat;
  background-position: top 257px right 0;
  padding-top: 64px;
  padding-bottom: 100px;
}

.services-list {
  position: relative;
}

.services-list::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 10px;
  height: 280px;
  background-image: url("/img/line.png");
  background-repeat: no-repeat;
}

.services-content,
.services-list-content {
  font-family: 'PT Sans';
  margin-top: 30px;
}

.services-item-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  text-align: left;
  color: var(--primary-white);
  padding-left: 22px;
  background-color: var(--secondary-blue);
  border: none;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  width: 100%;
  height: 62px;
}

.services-item-button:hover {
  background-color: var(--primary-dark-blue);
}

.services-item-button.button-active {
  color: var(--secondary-blue);
  background-color: var(--primary-white);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.services-list-title {
  color: var(--secondary-blue);
}

/* About */

.about .title {
  margin-bottom: 24px;
}

.about-content {
  font-family: 'PT Sans';
  font-size: 13px;
}

.about-content > p {
  margin: 0;
}

.about-content > p:first-child {
  margin-bottom: 26px;
}

.about-transport-companies {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.about-transport-companies > li {
  position: relative;
  margin-bottom: 12px;
  padding-left: 37px;
  list-style: none;
}

.about-transport-companies > li:last-child {
  margin-bottom: 0;
}

.about-transport-companies > li::before {
  position: absolute;
  content: "";
  top: 12px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: var(--primary-red);
}

.about-button {
  padding: 10px 40px;
}

/* Contacts */

.contacts .title {
  margin-bottom: 24px;
}

.contacts-content {
  max-width: 180px;
  font-family: 'PT Sans';
  font-size: 13px;
  margin: 0;
  margin-bottom: 32px;
}

.contacts-map {
  display: block;
  height: 158px;
  margin-bottom: 25px;
}

.contacts-button {
  display: block;
  width: 100%;
}

/* Footer */

.main-footer {
  background-color: var(--secondary-blue);
  color: var(--primary-white);
}

.main-footer a {
  color: var(--special-white);
}

.main-footer-menu .container {
  display: grid;
  grid-template-columns: 330px 1fr;
  column-gap: 65px;
}

.main-footer-contacts {
  margin: 0;
  margin-bottom: 54px;
}

.main-footer-logo {
  width: 220px;
  height: 68px;
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
  box-shadow: inset 0 -5px 0 0 #b52933;
}

.main-footer-logo img {
  width: 138px;
  height: 23px;
}

.main-footer-address,
.main-footer-phone {
  color: var(--special-white);
}

.main-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: -58px;
  margin-bottom: 54px;
  align-content: flex-start;
}

.main-footer-navigation > li {
  margin-top: 37px;
  margin-right: 58px;
}

.main-footer-navigation > li:nth-child(6) {
  margin-left: 23px;
}

.main-footer-navigation a:hover {
  text-decoration: underline;
}

.main-footer-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-navigation li:nth-child(-n+5) a {
  color: var(--special-lightwhite);
}

.main-footer-navigation li:nth-child(n+6) a {
  color: var(--special-beige);
}

.main-footer-submenu {
  background-color: var(--primary-dark-blue);
}

.main-footer-copyright,
.main-footer-feedback,
.main-footer-developed {
  font-size: 16px;
  line-height: 18px;
}

.main-footer-feedback a,
.main-footer-developed a {
  color: var(--special-beige);
}

.main-footer-feedback a:hover,
.main-footer-developed a:hover {
  text-decoration: underline;
}

.main-footer-feedback a:active,
.main-footer-developed a:active {
  text-decoration: none;
  color: var(--primary-red);
}

.main-footer-socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 132px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background-color: #212a3a;
}

.social-button:hover,
.social-button:active {
  background-color: var(--primary-red);
}

/* Catalog: Content Header */

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans';
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: var(--primary-black);
}

.breadcrumbs > li {
  display: inline-block;
  position: relative;
  margin-right: 40px;
}

.breadcrumbs > li:last-child {
  margin-right: 0;
}

.breadcrumbs > li::after {
  content: "";
  position: absolute;
  top: 3px;
  right: -24px;
  width: 8px;
  height: 12px;
  background-image: url("/img/icons/arrow-right-small.svg");
}

.breadcrumbs > li:last-child::after {
  display: none;
}

.content-title {
  background-color: var(--special-lightwhite);
  padding: 30px;
  margin-bottom: 20px;
}

.content-title .title {
  color: var(--secondary-blue);
}

/* Catalog: Filter */

.filter {
  font-family: 'PT Sans';
  text-transform: uppercase;
}

.filter-price,
.filter-manufacturers,
.filter-power {
  margin: 0;
  padding: 0;
}

.filter-header {
  display: flex;
  align-items: center;
  padding-left: 18px;
  background-color: var(--special-lightpink);
  height: 38px;
  margin-bottom: 14px;
  border-radius: 2px;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.filter-subtitle {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 11px;
}

.filter-price-range {
  padding-bottom: 25px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-range-controls {
  position: relative;
  background-color: var(--special-lightpink);
  height: 80px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
}

.filter-range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.filter-range-controls .bar {
  width: 85%;
  height: 2px;
  background-color: #00ca74;
}

.filter-range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border-width: 8px;
  border-style: solid;
  border-color: #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 0 #cfcfcf;
  cursor: pointer;
}

.filter-range-controls .toggle-min {
  left: 18px;
}

.filter-range-controls .toggle-max {
  left: 160px;
}

.filter-price-values {
  height: 38px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
}

.filter-price-values > span {
  margin-right: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.filter-price-min,
.filter-price-max {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: var(--special-lightpink);
}

.filter-price-min input,
.filter-price-max input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  background-color: inherit;
}

.filter-manufacturers .filter-subtitle span {
  display: block;
  margin-top: 16px;
}

.filter-manufacturers .filter-subtitle {
  margin-bottom: 15px;
}

.filter-manufacturers-list {
  padding-bottom: 7px;
  border-bottom: 1px solid #e5e5e5;
}

.filter-manufacturers-list,
.filter-power-list {
  font-size: 15px;
  line-height: 19px;
  padding-left: 35px;
}

.manufacturers-list-option {
  margin-bottom: 20px;
}

.manufacturers-list-option label,
.power-list-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.manufacturers-list-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 23px;
  height: 23px;
  background-image: url("/img/icons/checkbox/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.manufacturers-list-checkbox:checked + label::before {
  width: 27px;
  background-image: url("/img/icons/checkbox/checkbox-on.svg");
}

.manufacturers-list-option:hover .manufacturers-list-checkbox:enabled + label::before {
  background-image: url("/img/icons/checkbox/checkbox-off-hover.svg");
}

.manufacturers-list-option:hover .manufacturers-list-checkbox:enabled:checked + label::before {
  background-image: url("/img/icons/checkbox/checkbox-on-hover.svg");
}

.manufacturers-list-checkbox:disabled + label::before {
  background-image: url("/img/icons/checkbox/checkbox-off-disabled.svg");
}

.manufacturers-list-checkbox:disabled:checked + label::before {
  background-image: url("/img/icons/checkbox/checkbox-on-disabled.svg");
}

.filter-power .filter-subtitle span {
  display: block;
  margin-top: 18px;
}

.filter-power .filter-subtitle {
  margin-bottom: 23px;
}

.power-list-option {
  margin-bottom: 23px;
}

.power-list-radio + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 4px solid var(--special-lightgray);
  border-radius: 50%;
}

.power-list-radio:checked + label::after {
  content: "";
  position: absolute;
  left: -27px;
  top: 6px;
  width: 9px;
  height: 9px;
  background-color: var(--special-lightgray);
  border-radius: 50%;
}

.power-list-option:hover .power-list-radio:enabled + label::before {
  border-color: #b5b5b5;
}

.power-list-option:hover .power-list-radio:enabled:checked + label::after {
  background-color: #b5b5b5;
}

.power-list-radio:disabled + label::before {
  border-color: #e9e9e9;
}

.power-list-radio:disabled:checked + label::after {
  background-color: #e9e9e9;
}

.filter-button-submit {
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  background-color: inherit;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 14px;
}

.filter-button-submit:hover {
  border-color: var(--special-lightgray);
}

/* Catalog: Sorting */

.sorting {
  font-family: 'PT Sans';
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--special-lightpink);
  border-radius: 2px;
  padding-right: 16px;
  padding-left: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sorting-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list li {
  display: inline-block;
}

.sorting-list button {
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: inherit;
  line-height: 18px;
  color: #b3b3b3;
  padding: 0;
  text-decoration-color: var(--primary-red);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-underline-offset: 3px;
}

.sorting-list button:hover {
  color: var(--primary-black);
  text-decoration-style: solid;
}

.sorting-list button:hover path {
  fill: var(--primary-black);
}

.sorting-list button.button-active {
  opacity: 1;
  text-decoration: none;
  color: var(--primary-red);
}

.sorting-list button.button-active path {
  fill: var(--primary-red);
}

.sorting-list-price {
  margin-right: 70px;
}

.sorting-list-type {
  margin-right: 65px;
}

.sorting-list-functional {
  margin-right: 45px;
}

.sorting-list-ascend button {
  margin-right: 21px;
}

/* Catalog: Goods Pagination */

.goods-pagination {
  display: block;
  margin-bottom: 59px;
  font-size: 0px;
}

.goods-pagination-item {
  display: inline-block;
  padding: 10px 15px;
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 10px;
}

.goods-pagination-item:last-child {
  margin-right: 0;
}

.goods-pagination-item a {
  color: var(--primary-black);
}

.goods-pagination-item:hover {
  border: 1px solid var(--special-lightgray);
}

.goods-pagination-item:active {
  border: 1px solid var(--primary-red);
}

.goods-pagination-item.pagination-active {
  background-color: var(--primary-red);
  border: none;
}

.goods-pagination-item.pagination-next {
  padding-right: 32px;
  padding-left: 32px;
}

.goods-pagination-item.pagination-active a {
  color: var(--primary-white);
}

/* Catalog: About Drills */

.about-drills {
  background-color: var(--special-lightwhite);
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-drills .title {
  margin-bottom: 25px;
}

.about-drills-content {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  white-space: pre-line;
}

/* Modal */

.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: var(--primary-white);
  border-top: 7px solid  var(--primary-red);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15);
}

.modal-close {
  position: absolute;
  top: 23px;
  right: 13px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 4px;
  background-color: var(--primary-red);
  border-radius: 1.5px;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

/* Modal Feedback */

.modal-feedback {
  display: none;
  top: 120px;
  bottom: auto;
  width: 620px;
  padding-top: 38px;
}

.feedback-form input,
.feedback-form textarea {
  font-family: "PT Sans";
  font-size: 13px;
  line-height: 24px;
  color: var(--primary-black);
  border: 2px solid var(--special-lightgray);
  border-radius: 2px;
}

.feedback-form input {
  width: 220px;
  padding: 6px 8px 6px 12px;
}

.feedback-form input::placeholder,
.feedback-form textarea::placeholder {
  color: var(--secondary-gray);
  opacity: 1;
}

.feedback-form input:-ms-input-placeholder,
.feedback-form textarea:-ms-input-placeholder {
  color: var(--secondary-gray);
}

.feedback-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  padding-right: 80px;
  padding-left: 80px;
}

.feedback-input-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 13px;
}

.feedback-input-wrapper label {
  margin-bottom: 11px;
}

.feedback-textarea-wrapper {
  grid-column: 1 / -1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.feedback-textarea-wrapper label {
  margin-bottom: 11px;
}

.feedback-textarea-wrapper textarea {
  resize: none;
  min-height: 114px;
  padding: 6px 12px 6px 12px;
  margin-bottom: 37px;
}

.feedback-submit-wrapper {
  background-color: #f4f4f4;
  padding: 37px 80px 37px 80px;
}

.feedback-form-submit {
  width: 100%;
  border: none;
}

/* Modal Map */

.modal-map {
  display: none;
  width: 940px;
  height: 440px;
  border-top: 7px solid  var(--primary-red);
}

.modal-map img {
  display: block;
}

.modal-map iframe {
  border: none;
}
