/* Fonts */

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/cuprum.woff2') format('woff2'),
  url('../fonts/cuprum.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/cuprumbold.woff2') format('woff2'),
  url('../fonts/cuprumbold.woff') format('woff');
}

@font-face {
  font-family: 'Cuprum';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/cuprumitalic.woff2') format('woff2'),
  url('../fonts/cuprumitalic.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ptsans.woff2') format('woff2'),
  url('../fonts/ptsans.woff') format('woff');
}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/ptsansbold.woff2') format('woff2'),
  url('../fonts/ptsansbold.woff') format('woff');
}

/* Variables */

:root {
  --primary-black: #000000;
  --primary-white: #ffffff;
  --primary-red: #ee3643;
  --primary-green: #63a63e;

  --secondary-blue: #32425c;
  --secondary-gray: #a9a9a9;
  --secondary-red: #ca2c37;

  --primary-dark-blue: #293449;

  --special-red: #ba2732;
  --special-lightgray: #c5c5c5;
  --special-beige: #ffd180;
  --special-white: #f3f7f9;
  --special-lightwhite: #f1f5f7;
  --special-pink: #f9f5f0;
  --special-lightpink: #f7f3ec;
  --special-lightgreen: #5fbb2d;
  --special-green: #518534;
}

/* Global */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Cuprum', sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--primary-black);
  background-color: var(--primary-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

fieldset {
  border: none;
}

.button {
  color: var(--primary-white);
  background-color: var(--primary-red);
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  padding: 10px; /* Позднее переделать */
}

.button:hover {
  background-color: var(--secondary-red);
}

.button:active {
  background-color: var(--special-red);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.title {
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

/* Grid */

.page-body {
  min-width: 1200px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.features {
  margin-top: 60px;
  margin-bottom: 60px;
}

.features-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 123px);
  grid-gap: 20px;
}

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / 4;
}

.goods,
.manufacturers,
.services,
.index-columns {
  margin-bottom: 70px;
}

.goods-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
}

.manufacturers-list {
  display: grid;
  grid-template-columns: repeat(4, 220px);
  grid-template-rows: 145px 145px;
  grid-gap: 20px;
}

.services-header {
  max-width: 400px;
  margin-bottom: 70px;
}

.services-header .title {
  margin-bottom: 25px;
}

.services-content {
  margin: 0;
}

.services-columns {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 186px;
  column-gap: 80px;
}

.index-columns {
  display: grid;
  grid-template-columns: 460px 300px;
  column-gap: 180px;
}

.main-footer-submenu {
  height: 107px;
}

.footer-submenu-columns {
  display: grid;
  grid-template-columns: 240px 150px 130px 120px 140px 50px 110px;
}

.main-footer-copyright {
  grid-column: 1 / 2;
}

.main-footer-socials {
  grid-column: 3 / 4;
}

.main-footer-feedback {
  grid-column: -3 / -4;
}

.main-footer-developed {
  grid-column: -1 / -2;
}

.catalog-container {
  display: grid;
  grid-template-areas:
  "filter sorting"
  "filter results";
  grid-template-columns: 220px 1fr;
  grid-template-rows: 38px 1fr;
  column-gap: 20px;
  row-gap: 28px;
}

.filter {
  grid-area: filter;
}

.sorting {
  grid-area: sorting;
}

.goods-catalog {
  grid-area: results;
}

.goods-list-catalog {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  row-gap: 18px;
  margin-bottom: 48px;
}

/* Header */

.main-header {
  background-color: var(--special-lightwhite);
  color: var(--primary-white);
}

.main-header-menu {
  background-color: var(--primary-dark-blue);
}

.main-header-menu .container {
  height: 42px;
  display: flex;
  justify-content: flex-start;
}

.main-header-logo {
  width: 220px;
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-header-search {
  width: 240px;
  margin-left: 42px;
}

.main-header-search > * {
  height: 100%;
}

.main-header-search > input {
  background-color: var(--primary-dark-blue);
  border: none;
  outline: none;
}

.main-header-search > input:focus {
  background-color: var(--primary-white);
}

.user-navigation {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.user-navigation > li {
  flex-grow: 1;
}

.user-navigation > li:last-child {
  flex-grow: 0;
}

.user-navigation a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-left: 32px;
  color: var(--primary-white);
}

.user-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

.checkout {
  width: 150px;
  background-color: var(--primary-green);
}

.checkout:hover {
  background-color: var(--special-lightgreen);
}

.checkout > a {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
}

.user-navigation .cart-filled {
  background-color: var(--primary-red);
}

.main-header-submenu {
  display: grid;
  grid-template-columns: 320px 320px 300px;
}

.main-header-slogan {
  margin-left: 30px;
  color: var(--primary-red);
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
}

.main-header-tel {
  color: var(--primary-red);
  font-size: 21px;
  line-height: 30px;
}

.main-header-address {
  color: var(--secondary-blue);
  font-size: 14px;
}

.login-link,
.sign-up-link,
.user-name {
  color: var(--primary-black);
  font-size: 21px;
  line-height: 21px;
}

.login-link:hover,
.sign-up-link:hover {
  color: var(--primary-red);
}

.login-link:active,
.sign-up-link:active,
.user-name:active {
  color: var(--special-lightgray);
}

.user-menu a {
  font-size: 16px;
  line-height: 18px;
  color: var(--secondary-blue);
}

.user-menu a:hover {
  color: var(--primary-red);
}

.user-menu a:active {
  color: var(--special-lightgray);
}

.main-navigation {
  background-color: var(--secondary-blue);
  box-shadow: inset 0px -5px 0px var(--primary-dark-blue);
  margin-bottom: 60px;
}

.site-navigation {
  height: 60px;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
}

.site-navigation > li {
  flex-grow: 1;
}

.site-navigation a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: var(--primary-white);
}

.site-navigation a:hover {
  background-color: var(--primary-dark-blue);
}

.site-navigation a:active {
  color: rgba(255, 255, 255, 0.5);
}

/* Features */

.features-list > article {
  padding-top: 20px;
  padding-right: 0;
  padding-bottom: 20px;
  padding-left: 23px;
  display: flex;
  justify-content: space-between;
}

.features-list a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.features-list a:active {
  background-color: rgba(169, 169, 169, 0.3);
}

.features-list h3 {
  margin: 0;
  margin-bottom: 16px;
  color: var(--primary-white);
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.features-content {
  flex-grow: 1;
  padding-right: 18px;
}

.features-img {
  width: 124px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-button {
  display: inline-block;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.3);
}

.features-materials {
  background-color: #ffbf47;
}

.features-tools {
  background-color: #3bbce3;
}

.features-technics {
  background-color: #dc91d8;
}

.features-discount {
  background-color: #8ed78f;
}

.features-delivery {
  background-color: #ffc047;
}

.features-slider {
  color: var(--primary-white);
  background-color: #917e6d;
}

.features-slider-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.features-slider-subtitle {
  margin: 0;
}

/* Goods */

.goods-header {
  background-color: var(--special-pink);
  margin-bottom: 20px;
  padding: 29px 14px 30px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.goods-header .title {
  color: var(--secondary-blue);
}

.goods-item {
  display: flex;
  flex-direction: column;
  min-height: 318px;
  padding-right: 18px;
  padding-bottom: 21px;
  padding-left: 18px;
  font-family: 'PT Sans';
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
  border-width: 1px;
  border-style: solid;
  border-color: #eaeaea;
}

.goods-item-title {
  margin-top: 5px;
  margin-bottom: 7px;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
}

.goods-item-img {
  order: -1;
  height: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-price {
  margin-top: auto;
}

.goods-list .old-price,
.goods-list-catalog .old-price {
  text-align: center;
  margin-bottom: 13px;
  color: var(--secondary-gray);
  text-decoration: line-through;
}

.goods-list .new-price,
.goods-list-catalog .new-price {
  align-self: center;
  text-align: center;
  color: var(--primary-white);
  background-color: var(--primary-red);
  padding: 10px 32px;
}

.goods-list .button-buy,
.goods-list-catalog .button-buy {
  font-family: 'Cuprum';
  background-color: var(--primary-green);
  box-shadow: inset 0px -3px 0px #367315;
  border-radius: 2px;
}

.goods-list .button-buy:hover,
.goods-list-catalog .button-buy:hover {
  background-color: var(--special-lightgreen);
}

.goods-list .button-buy:active,
.goods-list-catalog .button-buy:active {
  background-color: var(--special-green);
}

.goods-list .button-bookmark,
.goods-list-catalog .button-bookmark {
  font-family: 'Cuprum';
  color: var(--secondary-blue);
  background-color: var(--primary-white);
  border: 3px solid var(--primary-green);
  border-radius: 2px;
}

.goods-list .button-bookmark:hover,
.goods-list-catalog .button-bookmark:hover {
  background-color: transparent;
  border-color: var(--secondary-blue);
}

.goods-list .button-bookmark:active,
.goods-list-catalog .button-bookmark:active {
  background-color: transparent;
  border-color: rgba(50, 66, 92, 0.5);
}

/* Manufacturers */

.manufacturers-header .title {
  color: var(--secondary-blue);
}

.manufacturers-header {
  background-color: var(--special-pink);
  margin-bottom: 20px;
  padding: 29px 14px 30px 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.manufacturers-list a:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers-list a:active {
  opacity: 0.5;
}

/* Services */

.services {
  background-color: var(--special-lightwhite);
  font-size: 13px;
  padding-top: 64px;
  padding-bottom: 100px;
}

.services-content,
.services-list-content {
  font-family: 'PT Sans';
}

.services-item-button {
  font-size: 21px;
  line-height: 30px;
  color: var(--primary-white);
  background-color: var(--secondary-blue);
  border: none;
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  width: 100%;
  height: 62px;
}

.services-item-button:hover {
  background-color: var(--primary-dark-blue);
}

.services-item-button.button-active {
  color: var(--secondary-blue);
  background-color: var(--primary-white);
  box-shadow: 0px 1px 0px #FFFFFF;
}

.services-list-title {
  color: var(--secondary-blue);
}

/* About */

.about .title {
  margin-bottom: 24px;
}

.about-content {
  font-family: 'PT Sans';
  font-size: 13px;
}

.about-content > p {
  margin: 0;
}

.about-content > p:first-child {
  margin-bottom: 26px;
}

.about-transport-companies {
  margin: 0;
  margin-bottom: 20px;
  padding-left: 37px;
}

.about-transport-companies > li {
  margin-bottom: 12px;
}

.about-transport-companies > li:last-child {
  margin-bottom: 0;
}

.about-button {
  padding: 10px 40px;
}

/* Contacts */

.contacts .title {
  margin-bottom: 24px;
}

.contacts-content {
  max-width: 180px;
  font-family: 'PT Sans';
  font-size: 13px;
  margin: 0;
  margin-bottom: 32px;
}

.contacts-map {
  display: block;
  height: 158px;
  margin-bottom: 25px;
}

.contacts-button {
  display: block;
  width: 100%;
}

/* Footer */

.main-footer {
  background-color: var(--secondary-blue);
  color: var(--primary-white);
}

.main-footer a {
  color: var(--special-white);
}

.main-footer-menu .container {
  display: grid;
  grid-template-columns: 330px 1fr;
  column-gap: 65px;
}

.main-footer-contacts {
  margin: 0;
  margin-bottom: 54px;
}

.main-footer-logo {
  width: 220px;
  height: 68px;
  background-color: var(--primary-red);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 22px;
}

.main-footer-address,
.main-footer-phone {
  color: var(--special-white);
}

.main-footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin-right: -58px;
  margin-bottom: 54px;
  align-content: flex-start;
}

.main-footer-navigation > li {
  margin-top: 37px;
  margin-right: 58px;
}

.main-footer-navigation > li:nth-child(6) {
  margin-left: 23px;
}

.main-footer-navigation a:hover {
  text-decoration: underline;
}

.main-footer-navigation a:active {
  text-decoration: none;
  opacity: 0.5;
}

.main-footer-navigation li:nth-child(-n+5) a {
  color: var(--special-lightwhite);
}

.main-footer-navigation li:nth-child(n+6) a {
  color: var(--special-beige);
}

.main-footer-submenu {
  background-color: var(--primary-dark-blue);
}

.main-footer-copyright,
.main-footer-feedback,
.main-footer-developed {
  font-size: 16px;
  line-height: 18px;
}

.main-footer-feedback a,
.main-footer-developed a {
  color: var(--special-beige);
}

.main-footer-feedback a:hover,
.main-footer-developed a:hover {
  text-decoration: underline;
}

.main-footer-feedback a:active,
.main-footer-developed a:active {
  text-decoration: none;
  color: var(--primary-red);
}

/* Catalog: Content Header */

.breadcrumbs {
  font-size: 13px;
  line-height: 18px;
  font-family: 'PT Sans';
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

.breadcrumbs a {
  color: var(--primary-black);
}

.breadcrumbs > li {
  display: inline-block;
  margin-left: 40px; /* Переделать позднее */
}

.breadcrumbs > li:first-child {
  margin-left: 0; /* Переделать позднее */
}

.content-title {
  background-color: var(--special-lightwhite);
  padding: 30px;
  margin-bottom: 20px;
}

.content-title .title {
  color: var(--secondary-blue);
}

/* Catalog: Filter */

.filter {
  font-family: 'PT Sans';
  text-transform: uppercase;
}

.filter fieldset {
  margin: 0;
  padding: 0;
}

.filter-header {
  display: flex;
  align-items: center;
  padding-left: 18px;
  background-color: var(--special-lightpink);
  height: 38px;
  margin-bottom: 14px;
  border-radius: 2px;
}

.filter-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  margin: 0;
}

.filter-subtitle {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 11px;
}

.filter-price-range {
  background-color: var(--special-lightpink);
  height: 80px;
  margin-bottom: 10px;
  border-radius: 3px;
}

.filter-price-values {
  height: 38px;
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 25px;
}

.filter-price-values > span {
  margin-right: 5px;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.filter-price-min,
.filter-price-max {
  display: flex;
  align-items: center;
  border-radius: 2px;
  background-color: var(--special-lightpink);
}

.filter-price-min input,
.filter-price-max input {
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  background-color: inherit;
}

.filter-manufacturers-list,
.filter-power-list {
  font-size: 15px;
  line-height: 19px;
}

.filter-manufacturers-list li {
  margin-bottom: 20px;
}

.filter-power-list li {
  margin-bottom: 23px;
}

.filter-button-submit {
  font-size: 13px;
  line-height: 18px;
  border: 1px solid #e5e5e5;
  background-color: inherit;
  text-transform: uppercase;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 14px;
}

.filter-button-submit:hover {
  border-color: var(--special-lightgray);
}

/* Catalog: Sorting */

.sorting {
  font-family: 'PT Sans';
  text-transform: uppercase;
  font-size: 13px;
  line-height: 18px;
  background-color: var(--special-lightpink);
  border-radius: 2px;
  padding-right: 16px;
  padding-left: 19px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sorting-title {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.sorting-list li {
  display: inline-block;
}

.sorting-list button {
  text-transform: uppercase;
  border: none;
  outline: none;
  background-color: inherit;
  line-height: 18px;
  color: #b3b3b3;
  text-decoration-color: var(--primary-red);
  text-decoration-line: underline;
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
}

.sorting-list button:hover {
  color: var(--primary-black);
  text-decoration-style: solid;
}

.sorting-list button.button-active {
  opacity: 1;
  text-decoration: none;
  color: var(--primary-red);
}

/* Catalog: Goods Pagination */

.goods-pagination {
  display: block;
  margin-bottom: 59px;
  font-size: 0px;
}

.goods-pagination-item {
  display: inline-block;
  padding: 10px 15px;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  margin-right: 10px;
}

.goods-pagination-item a {
  color: var(--primary-black);
}

.goods-pagination-item:hover {
  border: 1px solid var(--special-lightgray);
}

.goods-pagination-item:active {
  border: 1px solid var(--primary-red);
}

.goods-pagination-item.pagination-active {
  background-color: var(--primary-red);
  border: none;
}

.goods-pagination-item.pagination-next {
  padding-right: 32px;
  padding-left: 32px;
}

.goods-pagination-item.pagination-active a {
  color: var(--primary-white);
}

/* Catalog: About Drills */

.about-drills {
  background-color: var(--special-lightwhite);
  padding-top: 64px;
  padding-bottom: 68px;
}

.about-drills .title {
  margin-bottom: 25px;
}

.about-drills-content {
  font-family: 'PT Sans';
  font-size: 13px;
  line-height: 24px;
  margin: 0;
  white-space: pre-line;
}
